@import url("https://fonts.googleapis.com/css?family=Poppins");
@font-face {
  font-family: "Benilla";
  src: url("/fonts/Benilla Calligraphy.ttf");
}
body {
  font-family: Poppins;
  background-color: #474242;
  color: #f8f8f8;
  overflow-x: clip;
  position: relative;
}

header {
  height: 10vh;
}

h1, h3 {
  font-weight: normal;
  font-style: italic;
  animation: 1s ease-out 0.25s 1 appearFromTopAndBounce;
  animation-fill-mode: forwards;
  opacity: 0;
}
h1 span, h3 span {
  opacity: 0.7;
}

nav {
  padding: 0 1rem;
}

label {
  color: #474242;
}

form h4 {
  background-color: #6d6767;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 2px solid #e7e5e7;
  font-weight: lighter;
  opacity: 0.75;
}

.dark {
  color: #474242;
}

.img-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  max-height: 50%;
  background-color: rgba(194, 189, 189, 0.15);
  border-radius: 1rem;
}
.img-wrapper img {
  max-height: max(100%, 200px);
  width: min(16.5rem, 100%);
}

.card {
  background-color: #6d6767;
  border-radius: 1rem;
  border: 3px solid rgba(194, 189, 189, 0.15);
}
.card button:active {
  transform: scale(1.1);
}
.card i {
  color: #474242;
}
.card h5 {
  border-top: 1px solid #e7e5e7;
  border-bottom: 1px solid #e7e5e7;
  padding: 0.5rem;
}
.card .price {
  font-size: xx-large;
}
.card .price span {
  font-size: small;
}
.card .offer {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  color: #e7e5e7;
  font-size: larger;
}

.category-header {
  padding: 2rem 1rem 0 1rem;
  font-family: "Benilla";
  text-decoration: underline;
}
.category-header hr {
  background-color: #e7e5e7;
  transform: translateY(-0.6rem);
}
.category-header hr:first-of-type {
  transform: translateY(-0.25rem);
  width: 50%;
  margin: auto;
  opacity: 0.5;
  height: 1.2px;
}
@media screen and (max-width: 720px) {
  .category-header hr:first-of-type {
    width: 75%;
  }
}

.navbar {
  background-color: #e7e5e7 !important;
}
.navbar span, .navbar a {
  color: #474242 !important;
}

.validation-error {
  margin-bottom: 0;
  font-size: 0.7rem;
  font-weight: lighter;
}

.incorrect-value {
  border: 2px solid red;
}

#hotSales {
  height: calc(50vh - 3rem);
  animation: 2s ease-out 2s 1 fadeIn;
  animation-fill-mode: forwards;
  opacity: 0;
}
#hotSales p {
  opacity: 70%;
}
@media screen and (max-width: 960px) {
  #hotSales {
    height: 100%;
    margin-top: 3rem;
  }
}

#hotSalesImages div, #hotSalesImages img {
  width: 7rem;
  height: 8rem;
  object-fit: contain;
  background-color: rgba(194, 189, 189, 0.15);
  margin: 0 0.5rem 0 0.5rem;
}
#hotSalesImages .active, #hotSalesImages .active img {
  width: 9rem;
  height: 10rem;
}
#hotSalesImages div:not(.active) {
  opacity: 0.5;
}
#hotSalesImages img {
  cursor: pointer;
}
#hotSalesImages span {
  position: absolute;
  height: 2rem;
  width: 100%;
  background-color: #e7e5e7;
  z-index: -99999;
  top: calc(50% - 3rem);
  color: #474242;
  padding-right: 60%;
  animation: 2s ease-out 3.5s 1 openHole;
  animation-fill-mode: forwards;
  opacity: 0;
}

#categories {
  height: 100%;
}
#categories img, #categories h6 {
  cursor: pointer;
}
#categories img {
  width: 100%;
  max-width: 140px;
  animation: 2s ease-out 0.75s 1 appearFromTop;
  animation-fill-mode: forwards;
  opacity: 0;
}
#categories h6 {
  animation: 2s ease-out 2s 1 fadeIn;
  animation-fill-mode: forwards;
  opacity: 0;
  color: #e7e5e7;
}
@media screen and (min-width: 960px) {
  #categories {
    height: 40vh;
  }
}

#overlayCicrcle {
  height: 10vh;
  width: 80vw;
  background-color: #e7e5e7;
  border: 0.7rem solid rgba(194, 189, 189, 0.15);
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  top: -5vh;
  left: 10vw;
  animation: 0.5s ease-out 0s 1 openHole, 0.5s ease-out 2.5s 1 closeHole;
  animation-fill-mode: forwards;
}

#cartModal {
  color: #474242;
}
#cartModal .modal-content {
  background-color: #e7e5e7;
  border-radius: 1rem;
}
#cartModal .modal-header {
  justify-content: center;
  background-color: #6d6767;
  color: #e7e5e7;
  padding: 0.7rem 0.7rem;
  margin: 0.3rem 0.3rem;
  border-radius: 0.5rem;
}
#cartModal .modal-footer {
  padding-top: 0;
}
#cartModal ul {
  list-style: none;
  padding: 0;
}
#cartModal li {
  padding: 0.3rem 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.3rem;
  border-radius: 1rem;
}
#cartModal li div:last-child {
  display: flex;
  justify-content: end;
  gap: 0.8rem;
  flex: 1;
}
#cartModal li i {
  color: red;
  cursor: pointer;
}
#cartModal li:nth-child(odd) {
  background-color: #f8f8f8;
}
#cartModal .cart-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  min-width: 1.5rem;
  border: 1.5px solid rgba(71, 66, 66, 0.5);
  border-radius: 0.5rem;
  box-sizing: unset;
}
#cartModal .original-subtotal {
  text-decoration: line-through;
  font-style: italic;
  opacity: 0.6;
}

#totalCartAmount {
  color: #6d6767;
  border: 1px solid green;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  width: min-content;
  margin: auto;
}

#subheaderCheckout {
  font-size: smaller;
}

@keyframes appearFromTop {
  0% {
    opacity: 1;
    transform: translate3d(0, -100vh, 0) rotate(0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(1080deg);
  }
}
@keyframes appearFromTopAndBounce {
  0% {
    opacity: 1;
    transform: translate(0, -100%);
  }
  30% {
    transform: translate(0, 0);
    transform: rotate(-3deg);
    transform-origin: top left;
  }
  40% {
    transform: rotate(5deg);
    transform-origin: top right;
  }
  70% {
    transform: rotate(-5deg);
    transform-origin: top left;
  }
  85% {
    transform: rotate(-3deg);
    transform-origin: top left;
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}
@keyframes openHole {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes closeHole {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
#errorPassword, #errorName, #errorPhone, #errorEmail, .validation-error {
  display: none;
}

/*# sourceMappingURL=main.css.map */
